/* Reset */

html
body
main
nav
img
ul
li {
    margin: 0;
    padding: 0;
}

/* style */

body {
    background-color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.navbar ul {
   /* margin-top: 19.5px;
    float: right; */
    list-style-type: none;
}

.navbar ul li {
    margin-right: 10px;
    display: inline-block;
    color: seashell;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 22px;
}

.navbar img {
   /* float: left; */
    height: 50px;
    margin-left: 10px;
   /* margin-top: 9.5px; */
}

figure {
    border: 1px solid blue;
}

.figure img {
    height: 700px;
    width: 1200px;
    border: 1px solid red;

figcaption {
    color: seashell;
    border: 1px solid green;
}
